<nav>
  <ul>
    @if(accountService.loggedIn$ | async) {

    <li><a [routerLink]="['/overview']">Bestellen</a></li>
    @for (no of orderService.tables; track no) {
    <li>
      <a [routerLink]="['/tables', no]">Tisch {{ no }}</a>
    </li>
    } } @else {
    <li><a [routerLink]="['/login']">Login</a></li>
    }
  </ul>
</nav>

<main class="main">
  <details *ngIf="accountService.currentUserName$ | async as title">
    <summary>
      <b> Hello, {{ title }} </b>
    </summary>
    From property: {{ titleProp }}<br />
    From signal: {{ titleFunc() }}
  </details>

  <router-outlet />
</main>

<app-status-bar></app-status-bar>
